body {
    /*background: url("background1.png") no-repeat fixed;*/
    background-size: cover;
    height: calc(100vh - 80px);
    background-color: #d8cece;
}

.Welcome body {
    /*background: url("Agri-tech.jpg") no-repeat fixed;*/
    background-size: cover;
    height: calc(100vh - 0px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

nav {
    background-color: #ffffff;
    padding: 1%;
}

nav ul li {
    display: inline-block;
    margin: 3px;
}

nav ul li h3 {
    width: 99%;
    text-align: center;
}

.logo {
    font-size: 2em;
}

.LeftLabel {
    float: left;
    margin-right: 27%;
}

.RightLabel {
    float: right;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    width: 10%;
    height: 100%;
    background: #267641ba;
    padding: 5% 0;
    position: fixed;
}

.wrapper .sidebar h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 18%;
}

.wrapper .sidebar ul li {
    padding: 10%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li div {
    color: #ffffff;
    display: block;
}

.wrapper .sidebar ul li div .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background-color: #b9e2c0;
}

.wrapper .sidebar ul li:hover div {
    color: #080808;
}

.LandingPage .main_content {
    margin: 1% 1% 1% 11%;
    background-color: rgba(255, 255, 255, 255);
    border: 3px solid white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
}

.LandingPage .main_content .Graph {
    padding: 20px;
    background: #fff;
    color: #717171;
    border: 3px dashed black;
    border-radius: 25px;
    margin: 2%;
}

.LandingPage .main_content .Tables {
    margin: 2%;
    color: #717171;
    line-height: 25px;
}

.styled-table {
    border-collapse: collapse;
    margin: 2% 0;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #d6f2d6;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}